body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.header {
  background-color: rgb(243, 243, 243);
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
}

.header > p{
  margin-right: 10px;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.height-fullscreen {
  height: 100vh;
}

.edit-wrapper {
  display: flex;
  align-items: center;
}

/* .edit-input {
  margin-left: 10px;
} */

.input-wrapper {
  display: flex;
}

.message-input {
  height: 40px;
  width: 100%
}

.chat {
  padding: 60px;
}

.message {
  width: 60%;
}

.message:hover .edit-button {
  display: block;
}

.edit-button {
  display: none;
}

.message-list {
  background-color: rgb(250, 250, 250);
  height: 70vh;
  overflow-y: scroll;
}

.message-main {
  padding: 10px;
  display: flex;
  align-items: center;
}

.message-main > img{
  height: 60px;
  margin-right: 10px;
}

.message-secondary {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.message-secondary > button {
  height: 30px;
  margin-left: 10px;
}

p {
  margin-top: 1em;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  margin-left: 10px;
}

.icon-button:hover {
  cursor: pointer;
}

.edit-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 50px; */
}

.edit-header {
  text-align: center;
}

.edit-input {
  height: 100%;
}

/* html, body {
  height: 100%;
}

#root {
  height: 100%;
} */